force-app/main/default/flows/create.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <description>create_record</description>
    <environments>Default</environments>
    <formulas>
        <name>aaaaccname</name>
        <dataType>String</dataType>
        <expression>{!$Record.Active__c}</expression>
    </formulas>
    <formulas>
        <name>accname</name>
        <dataType>String</dataType>
        <expression>{!$Record__Prior.Active__c}</expression>
    </formulas>
    <formulas>
        <name>conname</name>
        <dataType>String</dataType>
        <expression>{!$Record.Name} + &apos; Contact&apos;</expression>
    </formulas>
    <interviewLabel>create {!$Flow.CurrentDateTime}</interviewLabel>
    <label>create2</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>account_record</name>
        <label>account_record</label>
        <locationX>249</locationX>
        <locationY>266</locationY>
        <assignRecordIdToReference>acccid</assignRecordIdToReference>
        <connector>
            <targetReference>contact</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>hkjhkjh</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordCreates>
        <name>contact</name>
        <label>contact</label>
        <locationX>330</locationX>
        <locationY>369</locationY>
        <connector>
            <targetReference>update_record</targetReference>
        </connector>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <stringValue>oihiuhui</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>update_record</name>
        <label>update_record</label>
        <locationX>235</locationX>
        <locationY>439</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountNumber</field>
            <value>
                <elementReference>acccid</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>373</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>account_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountNumber</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>9999999999</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>InvalidDraft</status>
    <variables>
        <name>acccid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>accid</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
