force-app/main/default/flows/dfdffdf.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>assign_dis</name>
        <label>assign_dis</label>
        <locationX>176</locationX>
        <locationY>494</locationY>
        <assignmentItems>
            <assignToReference>discription</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>discription</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>abddddd</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>dfdf {!$Flow.CurrentDateTime}</interviewLabel>
    <label>dfdf</label>
    <loops>
        <name>AccList</name>
        <label>AccList</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <collectionReference>list</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>assign_dis</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_aCC</name>
        <label>get_aCC</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AccList</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account_id</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>list</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Description</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>abddddd</name>
        <label>abdddd</label>
        <locationX>176</locationX>
        <locationY>614</locationY>
        <inputReference>list</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_aCC</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>Account_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>discription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>list</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>updatedrecord</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
