force-app/main/default/flows/no.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <environments>Default</environments>
    <formulas>
        <name>total</name>
        <dataType>Number</dataType>
        <expression>{!no1} +{!no2}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>total1</name>
        <dataType>Number</dataType>
        <expression>{!no11} + {!no22}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>no {!$Flow.CurrentDateTime}</interviewLabel>
    <label>no</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>tno</name>
        <label>tno</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Total23</targetReference>
        </connector>
        <fields>
            <name>no1</name>
            <dataType>Number</dataType>
            <fieldText>no1</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>no2</name>
            <dataType>Number</dataType>
            <fieldText>no2</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Total23</name>
        <label>Total</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>total2</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>total</elementReference>
            </defaultValue>
            <fieldText>total2</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>tno</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>no11</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>no22</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <elementReference>no2</elementReference>
        </value>
    </variables>
</Flow>
